<html>
<head>
    <title>AWS IP Address Range Changes</title>
    <style type="text/css">
        .standout {
            font-weight: bold;
            color: steelblue;
        }

        .footer {
            color: darkgrey;
            text-align: center;
        }

        h1 {
            font-size: 120%;
            color: steelblue;
        }

        table.change_table {
            border-collapse: collapse;
            border: 1px solid lightgrey;
        }

        td, th {
            padding: 2px 5px;
        }

        td.added {
            border: 1px solid lightgrey;
            border-left-width: 0;
            border-right-width: 0;
            color: steelblue;
        }

        td.deleted {
            border: 1px solid lightgrey;
            border-left-width: 0;
            border-right-width: 0;
            color: indianred;
        }

        th.category {
            background-color: lightgrey;
            text-align: left;
            font-weight: bold;
        }

    </style>
</head>
<body>
<p>
    {% if regions_of_interest %}
        There have been changes to the AWS IP address ranges in your regions of
        interest ({{ regions_of_interest }}).
    {% else %}
        There have been changes to the AWS IP address ranges.
    {% endif %}
</p>
<table class="change_table">
    <tr>
        <td class="standout">Previous Version:</td>
        <td>{{ previous.createDate }}</td>
        <td>({{ previous.syncToken }})</td>
    </tr>
    <tr>
        <td class="standout">Lastest Version:</td>
        <td>{{ latest.createDate }}</td>
        <td>({{ latest.syncToken }})</td>
    </tr>
</table>
{% for region in changes_by_region %}
    {% set changes = changes_by_region[region] %}
    <h1>{{ region }}</h1>
    <div>
        <table class="change_table">
            {%- if changes.ip4_added %}
                <tr>
                    <th colspan="3" class="category">IP4 Additions</th>
                </tr>
                {%- for chg in changes.ip4_added|sort_multi('service', 'ip_prefix') %}
                    <tr>
                        <td class="added">+</td>
                        <td class="added">{{ chg.service }}</td>
                        <td class="added">{{ chg.ip_prefix }}</td>
                    </tr>
                {%- endfor %}
            {% endif -%}
            {%- if changes.ip4_deleted %}
                <tr>
                    <th colspan="3" class="category">IP4 Deletions</th>
                </tr>
                {%- for chg in changes.ip4_deleted|sort_multi('service', 'ip_prefix') %}
                    <tr>
                        <td class="deleted">-</td>
                        <td class="deleted">{{ chg.service }}</td>
                        <td class="deleted">{{ chg.ip_prefix }}</td>
                    </tr>
                {%- endfor %}
            {% endif -%}
            {%- if changes.ip6_added %}
                <tr>
                    <th colspan="3" class="category">IP6 Additions</th>
                </tr>
                {%- for chg in changes.ip6_added|sort_multi('service', 'ipv6_prefix') %}
                    <tr>
                        <td class="added">+</td>
                        <td class="added">{{ chg.service }}</td>
                        <td class="added">{{ chg.ipv6_prefix }}</td>
                    </tr>
                {%- endfor %}
            {% endif -%}
            {%- if changes.ip6_deleted %}
                <tr>
                    <th colspan="3" class="category">IP6 Deletions</th>
                </tr>
                {%- for chg in changes.ip6_deleted|sort_multi('service', 'ipv6_prefix') %}
                    <tr>
                        <td class="deleted">-</td>
                        <td class="deleted">{{ chg.service }}</td>
                        <td class="deleted">{{ chg.ipv6_prefix }}</td>
                    </tr>
                {%- endfor %}
            {% endif -%}
        </table>
    </div>
{% endfor %}
<p> Latest information was obtained from {{ url }}.</p>

<p class="footer">
    This message was produced by IPranger - an
    <a href="https://bitbucket.org/murrayandrews/evw">evw</a> plugin.
</p>
</body>
</html>
