{#- This is a sample message template for ipranger -#}

{%- if regions_of_interest -%}
There have been changes to the AWS IP address ranges in your regions of interest ({{  regions_of_interest }}).
{%- else -%}
There have been changes to the AWS IP address ranges.
{%- endif %}

Previous Version: {{ previous.createDate }} ({{ previous.syncToken }})
Lastest Version:  {{ latest.createDate }} ({{ latest.syncToken }})

{% for region in changes_by_region %}
========================================
{{ region }}
========================================
    {% set changes = changes_by_region[region] %}
    {%- if changes.ip4_added %}
IP4 Additions
        {%- for chg in changes.ip4_added|sort_multi('region', 'service', 'ip_prefix') %}
    + {{ chg.region }} {{ chg.service }} {{ chg.ip_prefix }}
        {%- endfor %}
    {% endif -%}
    {%- if changes.ip4_deleted %}
IP4 Deletions
        {%- for chg in changes.ip4_deleted|sort_multi('region', 'service', 'ip_prefix') %}
    - {{ chg.region }} {{ chg.service }} {{ chg.ip_prefix }}
        {%- endfor %}
    {% endif -%}
    {%- if changes.ip6_added %}
IP6 Additions
        {%- for chg in changes.ip6_added|sort_multi('region', 'service', 'ipv6_prefix') %}
    + {{ chg.region }} {{ chg.service }} {{ chg.ipv6_prefix }}
        {%- endfor %}
    {% endif -%}
    {%- if changes.ip6_deleted %}
IP6 Deletions
        {%- for chg in changes.ip6_deleted|sort_multi('region', 'service', 'ipv6_prefix') %}
    - {{ chg.region }} {{ chg.service }} {{ chg.ipv6_prefix }}
        {%- endfor %}
    {% endif -%}

{% endfor %}
{# #}
Latest information was obtained from {{ url }}.

This message was produced by {{ plugin }}.
